:root {
  --color-blue: #286ef1;
  --color-white: #ffffff;
  --color-green: #e5e5e5;
  --color-purple: #e5e5e5;
  --color-border: #ededed;

  --color-black: #000000;
  --color-dark-gray: #555555;

  --color-border-light: #f2f2f2;
  --color-border-dark: #e6e6e6;
  --color-header: #333333;

  --color-bg: #e5e5e5;

  /* --gap-sm: 1rem;
  --gap-md: 2.5rem;
  --gap-lg: 5rem; */

  --body-max-widht: 1800px;
}
