:root {
  --color-blue: #286ef1;
  --color-white: #ffffff;
  --color-green: #52d194;
  --color-purple: #9026b1;
  --color-border: #ededed;

  --color-black: #000000;
  --color-dark-gray: #555555;
  --color-light-gray: #f2f2f2;
  --color-header: #333333;
  --color-bg: #e5e5e5;

  --body-max-widht: 1800px;
}
