@import url("./_variables.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* prettier-ignore */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  background: none;
  border: none;
  outline: 0;
  font: inherit;
}

fieldset {
  border: none;
  outline: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* 1920px -0.2px */
@media all and (max-width: 119.9875em) {
  html {
    font-size: 75%; /*1rem = 12px*/
  }
}

/* 768px -0.2px */
@media all and (max-width: 47.9875em) {
  html {
    font-size: 62.5%; /* 10px */ /* 10px = 1rem */
  }
}

/* 320px */
@media all and (max-width: 20em) {
  html {
    font-size: 56.25%; /*1rem = 9px */
    word-break: break-word;
  }
}

body {
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* position: relative; */
  background-color: var(--color-bg);
  min-height: 100vh;

  font-family: "Roboto", arial, verdana, sans-serif;
  font-size: 16px;
  font-style: normal;
}

h2 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 4rem;
  letter-spacing: 0.26px;
  /* color: var(--color-black); */
}

h3 {
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.26px;
  color: #333333;
  color: var(--color-header);
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.26px;
  color: var(--color-dark-gray);
}

/* .wrapper {
  width: 100%;
  max-width: var(--body-max-widht);
  margin: 0 auto;
  padding: 0 2.4rem;
}

main {
  min-height: 65rem;
} */
